<div class="section">
  <h3 class="section-title text-teal">
    SPEAKING DETAILS
  </h3>

  <h4 class="my-3 text-left">
    What We're Looking For
  </h4>

  <div class="row d-flex mt-2">
    <div class="col-lg-4">
      <div class="card m-1 p-0 text-teal">
        <div class="card-header">
          <i class="fas fa-desktop fa-4x mt-2 mb-3"></i>
          <br>
          <strong>TECHNOLOGY</strong>
        </div>
        <div class="card-body">
          <ul class="text-left">
            <li>
              Engineering and technical know-how
            </li>
            <li>
              ProTips
            </li>
            <li>
              Work processes
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card m-1 p-0 text-teal">
        <div class="card-header">
          <i class="fas fa-brain fa-4x mt-2 mb-3"></i>
          <br>
          <strong>INNOVATION</strong>
        </div>
        <div class="card-body">
          <ul class="text-left">
            <li>
              New technologies
            </li>
            <li>
              Technical innovation across industries
            </li>
            <li>
              Other topics important for engineers
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card m-1 p-0 text-teal">
        <div class="card-header">
          <i class="fas fa-trophy fa-4x mt-2 mb-3"></i>
          <br>
          <strong>LEADERSHIP</strong>
        </div>
        <div class="card-body">
          <ul class="text-left">
            <li>
              Building leaders for a better industry
            </li>
            <li>
              Career advancement
            </li>
            <li>
              Best practices for engineering teams
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="text-justify section-text">
    <p class="mt-3">
      The goal is to share technical and soft skill experiences with technical leaders, software developers,
      product managers, designers and other technologists. If you use a specific language, your talk must be
      understandable by good developers, even if they don’t know the exact language syntax (short snippets or
      pseudo-code are totally fine).
    </p>
    <p>
      Attendees will be able to take away changes that can improve their day-to-day jobs. Don’t be afraid to bring up
      advanced stuff and even try your hand at live demo-ing. Consider topics like
      machine learning, data science, cloud, mobile, web, security, and more. Submissions by professional and
      first-time speakers are welcome.
    </p>
    <h4 class="my-3">
      Session Types
    </h4>
    <ul class="" *ngFor="let format of formats">
      <li class="mb-2">
        {{format}}
      </li>
    </ul>
    <h4 class="my-3">
      Deadline to Submit: June 15<sup>th</sup>
    </h4>

    <p>
      Talks are accepted on a rolling basis. Submit early to have the greatest chance for feedback and
      acceptance. We believe that our industry is better when everyone has a voice.
      We take our
      <a [href]="codeOfConductLink" target="_blank">
        Code of Conduct
      </a>
      seriously, and encourage those of groups traditionally underrepresented in technology to apply to speak.
    </p>
  </div>
</div>