<div class="row section">
  <div class="col-md-4">
    <img src="assets/images/poster-shirt-contest.png" class="poster-image">
  </div>
  <div class="col-md-7 poster-text">
    <div class="mx-2 my-3">

      <h3 class="section-title text-teal">
        <strong>
          T-SHIRT DESIGN CONTEST
        </strong>
      </h3>

      <div class="text-justify">
        <p>
          We are holding a T-shirt design contest! Winner will receive a <b>free conference ticket</b>.
        </p>
        <p><strong>Deadline to Submit: May 30<sup>th</sup></strong></p>

        <div class="d-flex flex-direction-row mt-2">
          <button id="posterButton" type="button" class="btn btn-wwcode w-45"
            (click)="redirect(context.TShirtDesignContest)">
            Submit your shirt design
          </button>
          <span></span>
        </div>
      </div>

    </div>
  </div>
</div>