<div class="title-container">

  <img src="assets/images/connect_cover_tokyo_qna.jpg" class="intro-background intro-background-left-top">
  <img src="assets/images/connect_cover_manila_group.jpeg" class="intro-background intro-background-left-bottom">
  <img src="assets/images/connect_cover_dancing.jpg" class="intro-background intro-background-right-top">
  <img src="assets/images/connect_cover_tokyo_speaker.jpg" class="intro-background intro-background-right-bottom">

  <div class="intro-left"></div>
  <div class="intro-logo"></div>
  <div class="row text-center">
    <div class="col-6 text-right ml-4 my-auto">
      <img src="https://image.flaticon.com/icons/svg/1752/1752185.svg" id="merlion">
    </div>
    <div class="col-5 text-left mt-1 px-2">
      <h5>
        Singapore
      </h5>
      <h5>
        31<sup>st</sup> August 2019
      </h5>
      <h5 class="text-teal" *ngFor="let hashtag of hashtags">
        <strong>
          {{hashtag}}
        </strong>
      </h5>
    </div>
  </div>

  <div class="title-content section">
    <div class="text-justify section-text">
      <p>
        CONNECT Asia 2019 is <a href="https://www.womenwhocode.com/" target="_blank">Women Who Code</a>'s premier
        technical conference in Asia and will include the industry's most influential leaders, engineers, and more.
      </p>
      <p>
        The conference will be held on August 31<sup>st</sup> 2019 in Singapore.
      </p>
      <p>
        We are changing the face of tech, creating a more inclusive and diverse industry, and helping women
        connect with professional opportunities that propel them into positions of power. WWCode CONNECT Asia 2019
        does just that.
      </p>
      <p>
        WWCode CONNECT Asia 2019 brings together speakers from around the world to share their stories and
        expertise about technology. Join the Women Who Code community for in-depth panels, technical workshops,
        keynotes, and actionable advice on advancing your career. Please email
        <a href="mailto:{{email}}">{{email}}</a>
        with any questions.
      </p>
    </div>

  </div>
</div>