<div class="title-container">
  <div class="title-header">

    <div>
      <img align="left" width="300" alt="Women Who Code Logo" src="../../assets/images/connect-logo.png">
    </div>
    <br>
    <div class="text-left">
      <h5>
        Singapore
      </h5>
      <h5>
        31<sup>st</sup> August 2019
      </h5>
      <h5 class="text-teal">
        <strong>
          {{hashtags.join(' ')}}
        </strong>
      </h5>
    </div>
  </div>

  <div class="title-content">
    <div class="text-justify section-text">
      <p>
        CONNECT Asia 2019 is <a href="https://www.womenwhocode.com/" target="_blank">Women Who Code</a>'s premier
        technical conference in Asia and will include the industry's most influential leaders, engineers, and more.
      </p>
      <p>
        The conference will be held on August 31<sup>st</sup> 2019 in Singapore.
      </p>
      <p>
        We are changing the face of tech, creating a more inclusive and diverse industry, and helping women
        connect with professional opportunities that propel them into positions of power. WWCode CONNECT Asia 2019
        does just that.
      </p>
      <p>
        WWCode CONNECT Asia 2019 brings together speakers from around the world to share their stories and
        expertise about technology. Join the Women Who Code community for in-depth panels, technical workshops,
        keynotes, and actionable advice on advancing your career. Please email
        <a href="mailto:{{email}}">{{email}}</a>
        with any questions.
      </p>
    </div>

  </div>
</div>