@import '../app.component.scss';

$logo-max-dimension: 200px;

@mixin position($clip-path, $position, $offset-x: 0) {
    -webkit-clip-path: $clip-path;
    clip-path: $clip-path;

    @if str-index($position, 'right-') {
        right: $offset-x;
    } @else {
        left: $offset-x;
    }

     @if str-index($position, '-bottom') {
        top: $logo-max-dimension;
    }
}

@mixin adjustImageForScreen($clip-path, $clip-path-mobile, $position, $offset-mobile: -8rem, $show-on-mobile: false) {
    $offset-x: -10rem;
    height: $logo-max-dimension + 50px;

    @media only screen
    and (min-width: $intro-background-breakpoint) {
        @include position($clip-path, $position);
    }

    @media only screen
    and (max-width: $intro-background-breakpoint)
    and (min-width: $intro-background-breakpoint-tablet) {
        @include position($clip-path, $position, $offset-x);
    }

    @media only screen
    and (max-width: $intro-background-breakpoint-tablet)
    and (min-width: $intro-background-breakpoint-mobile) {
        @include position($clip-path, $position, $offset-x - 5rem);
    }

    @media only screen
    and (max-width: $intro-background-breakpoint-mobile)
    and (min-width: $intro-background-breakpoint-hide) {
        @if $show-on-mobile {
            height: $logo-max-dimension - 10px;
            top: auto !important;
            @include position($clip-path-mobile, $position, $offset-mobile);
        } @else {
            display: none;
        }

    }

    @media only screen
    and (max-width: $intro-background-breakpoint-hide) {
        display: none;
    }
}

.intro-background {
    position: absolute;
    object-fit: cover;
    max-width: 350px;
    $clip-path-mobile: polygon(25% 0%, 61% 0, 34% 100%, 0% 100%);
    z-index: -1;

    &-left-top {
        $clip-path: polygon(0 0, 100% 0, 74% 100%, 0% 100%);
        $clip-path-mobile: polygon(70% 0, 60% 50%, 70% 100%, 0 100%, 0 0);
        $position: 'left-top';
        $offset-mobile: -7.3rem;
        @include adjustImageForScreen($clip-path, $clip-path-mobile, $position, $offset-mobile, true);
    }

    &-left-bottom {
        $clip-path: polygon(0 40%, 82% 28%, 100% 100%, 0 100%);
        $position: 'left-bottom';
        @include adjustImageForScreen($clip-path, $clip-path-mobile, $position);
    }

    &-right-top {
        $clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        $position: 'right-top';
        @include adjustImageForScreen($clip-path, $clip-path-mobile, $position);
    }

     &-right-bottom {
        $clip-path: polygon(18% 31%, 100% 24%, 100% 100%, 0 100%);
        $clip-path-mobile: polygon(100% 0, 100% 100%, 60% 100%, 70% 50%, 60% 0);
        $position: 'right-bottom';
        $offset-mobile: -2rem;
        @include adjustImageForScreen($clip-path, $clip-path-mobile, $position, $offset-mobile, true);
    }
}

.intro-logo {
    background-image: url('../../assets/images/connect_asia_logo.svg') ;
    background-size: 180px;;
    background-repeat: no-repeat;
    background-position-x: 10px;
    width: $logo-max-dimension;
    margin: auto;

    @media only screen
    and (min-width: $intro-background-breakpoint-mobile) {
        background-position-y: 10px;
        height: 130px;
    }

    @media only screen
    and (max-width: $intro-background-breakpoint-mobile) {
        background-position-y: 40px;
        height: 200px;
    }
}

#merlion {
    height: 2.5rem;

    @media only screen
    and (max-width: $intro-background-breakpoint-mobile) {
        height: 6rem;
    }
}
