<div class="content">
  <ng-container *ngTemplateOutlet="header"></ng-container>

  <app-introduction></app-introduction>

  <app-divider></app-divider>

  <app-call-for-proposal closed="true"></app-call-for-proposal>
  <app-shirt-design closed="true"></app-shirt-design>

  <app-divider></app-divider>

  <app-speaking-details id="speaking-details"></app-speaking-details>

  <app-divider></app-divider>

  <app-organizers></app-organizers>

  <ng-container *ngTemplateOutlet="footer"></ng-container>
</div>


<ng-template #header>
  <header class="sticky">
    <div class="header m-3">
      <img width="120" alt="Women Who Code Logo" src="assets/images/connect-logo.png" class="pr-3">
      <strong class="text-teal font-size-3">CONNECT ASIA 2019</strong>
      <strong class="text-teal float-right font-size-2">{{hashtags.join(' ')}}</strong>
    </div>
  </header>

</ng-template>


<ng-template #footer>
  <footer class="text-muted footer-text">
    <div class="section">
      <p>
        © 2019 Women Who Code | Women Who Code is a 501(c)(3) non-profit dedicated to inspiring women to excel
        in
        technology careers.
      </p>

      <div>Merlion icon made by <a href="https://www.flaticon.com/authors/photo3idea-studio"
          title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/"
          title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </footer>
</ng-template>