<div class="row">
  <div class="col-md-4">
    <img src="assets/images/poster-cfp.png" class="poster-image">
  </div>
  <div class="col-md-7 poster-text">

    <div class="mx-2 my-3">
      <h3 class="section-title text-teal">
        <strong>
          CALL FOR PROPOSAL
        </strong>
      </h3>

      <div class="text-justify">

        <p>
          WWCode is looking for enthusiastic and dynamic speakers working in technology who want to share their
          expertise. We aim to have speakers that represent the talent and rich diversity of our community.
        </p>
        <p>
          If you have an awesome idea, do not hesitate to submit it! We will be happy to give you the necessary feedback
          to make sure it matches audience expectations.
        </p>
        <p>
          For more information, check out our <a href="#speaking-details">speaking details</a>.
        </p>

        <p><strong>Deadline to Submit: June 15<sup>th</sup></strong></p>

        <div class="d-flex flex-direction-row">
          <button id="posterButton" type="button" class="btn btn-wwcode" (click)="redirect('shirt-design')">
            Submit call for proposal
          </button>
          <button id="posterButton" type="button" class="btn btn-wwcode" (click)="redirect('shirt-design')">
            Submit speaker profile
          </button>
        </div>
      </div>
    </div>


  </div>
</div>